*{
    margin: 0;
    padding: 0;
}

/* ================ menubar css start ============= */
nav{
    background-color: #E55473;
}
.nav-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo h1{
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    margin-right: 10px;
}
.menu ul li a {
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    background-color: #E55473;
    display: block;
    width: 80px;
    transition: all 1s;
}
.menu ul li a:hover{
    background-color: #fff;
    color: #E55473;
    border: 1px solid #fff;
}

/* ================ menubar css end ============= */

/* ===============banner css start ================ */
.ban-container{
    background-color: #fcffe1;
}
.banner{
    height: 80vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.banner-content{
    width: 60%;
}
.banner-content h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-content p{
    color: rgb(71, 69, 69);
    margin-bottom: 20px;
}
.primary-btn{
    background-color: #E55473;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
.banner-photo{
    width: 40%;
}
.banner-photo img{
    height: 500px;
    padding-left: 40px;
}

/* ==============Banner css close ================ */


/*============ feature section css started ============ */

.feature-heading{
    text-align: center;
    margin-top: 60px;
}
.feature-heading h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.feature-heading p{
    width: 30%;
    margin: auto;
    color: rgb(71, 69, 69);
}
.feature-product{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}
.product-img{
    text-align: center;
}
.product-img img{
    width: 300px;
    height: 350px;
    background-color: #D9EFF0;
    border-radius: 50% 50% 0 0;
    padding: 5px 5px 5px 0;
}
.product-img a{
    display: block;
    color: black;
    padding: 15px 0;
}
/* ==============feature section css end============== */

/* ===========services css started ============ */

.service-container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px auto;
    background-color: #D9EFF0;
    padding: 50px 20px;
    margin: 80px auto;
}
.services{
    text-align: center;
}
.services h3{
    color: rgb(116, 107, 107);

}

/* ===========services css end============ */

/* ==============hot deal css started=============== */

.hot-container{
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-content{
    margin: 0 50px;
    padding: 30px;
    text-align: center;
}
.hot-content h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.hot-content span{
    color: #E55473;
}
.hot-content p{
    color: rgb(71, 69, 69); 
    margin-bottom: 20px;
}
.hot-photo{
    padding: 30px;
}
.hot-photo img{
    width: 300px;
    height: 350px;
}

/* ===================hot deal css end======================= */

/* ==================instagram css start===================== */
.container-ins{
    width: 70%;
    margin: 20px auto;
}
.content-ins{
    text-align: center;
    margin-top: 30px;
}
.content-ins h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.content-ins p{
    color: rgb(71, 69, 69); 
    margin-bottom: 50px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 10px;
    margin-bottom: 120px;
}
.img-set{
    width: 230px;
    height: 300px;
}

/* ==================instagram css end ===================== */

.suscribe-container{
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 300px;
    margin: 0 auto 120px;
    text-align: center;
}
.suscribe-container h2{
    font-weight: bold;
    font-size: 30px;
    padding: 80px 10px 15px;
}
.suscribe-container p{
    color: rgb(71, 69, 69); 
    margin-bottom: 30px;
}
.primary-input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    width: 400px;
}

/* =============  suscribe part css end =============== */

/* ==============  footer css start hare ============= */
.footer-container{
    width: 100%;
    height: 250px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width: 30%;
    text-align: center;
}
.footer-content h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.footer-content span{
    color: #E55473;  
}
.footer-content p{
    color: rgb(153, 151, 151);
    margin-bottom: 20px;
}
.footer-content small{
    color: rgb(153, 151, 151);
}
/* ==============  footer css end hare ============= */